
nav {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 50px;

  background: rgb(243, 241, 167);

  background: radial-gradient(circle, rgb(239, 236, 145) 0%, rgba(246, 132, 132, 0.771) 43%, rgb(236, 231, 159) 50%, rgb(79, 99, 230) 100%);
}

nav > a {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-icon{
  width: 90px;
  float: left;
}

/* Nav Icon image found here https://www.shutterstock.com/shutterstock/photos/2292009177/display_1500/stock-vector-high-quality-vector-illustration-with-drawn-baby-yoda-from-the-popular-series-based-on-star-wars-2292009177.jpg */

/* utilized this website to removed background https://www.remove.bg/ */