
nav {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 50px;

  background: hsla(58, 89%, 51%, 1);

  background: radial-gradient(circle, hsla(58, 89%, 51%, 1) 0%, hsla(334, 85%, 49%, 1) 43%, hsla(36, 91%, 50%, 1) 50%, hsla(165, 83%, 60%, 1) 100%);

  background: -moz-radial-gradient(circle, hsla(58, 89%, 51%, 1) 0%, hsla(334, 85%, 49%, 1) 43%, hsla(36, 91%, 50%, 1) 50%, hsla(165, 83%, 60%, 1) 100%);

  background: -webkit-radial-gradient(circle, hsla(58, 89%, 51%, 1) 0%, hsla(334, 85%, 49%, 1) 43%, hsla(36, 91%, 50%, 1) 50%, hsla(165, 83%, 60%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1EA12", endColorstr="#E6136E", GradientType=1 );

}

nav > a {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-icon{
  width: 120px;
}
